<style>
body{
  background-color:grey;
  font-size:10px;
}
</style>
<h1 style="font-size:15px; text-align:center;"> Show Action </h1>

<%= @portfolio_item.title %>
<br>
<%= @portfolio_item.body %>
<%= image_tag @portfolio_item.main_image %>


